.menubar {
    padding: 20px 0;
    background-color: antiquewhite;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navlink {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.navlink:hover {
    color: brown;
}

.navlink:active {
    border-bottom: 2px solid rgb(0, 0, 0);
}
